flows (2).json
[{"id":"db058076.b286f","type":"tab","label":"CKD-Project","disabled":false,"info":""},{"id":"aef45df4.26d51","type":"function","z":"db058076.b286f","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"7f_cEOOjtZP1IqGz0o4a3K5nizzj9SQN6CGcfB0dqT_q\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["d73ffc3b.a5137"]]},{"id":"d73ffc3b.a5137","type":"http request","z":"db058076.b286f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":599,"y":488.9999952316284,"wires":[["5393cf23.cecb7"]]},{"id":"a1cf69b0.6819e8","type":"inject","z":"db058076.b286f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":245.5,"y":413.99999809265137,"wires":[["aef45df4.26d51"]]},{"id":"63cde82b.16bff8","type":"debug","z":"db058076.b286f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1038.0000114440918,"y":230.99999713897705,"wires":[]},{"id":"5393cf23.cecb7","type":"function","z":"db058076.b286f","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar sod = global.get('sod')\nvar pot = global.get('pot')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"896df4c9-03dc-4c43-91a3-963aca520e63\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"ID\", \"Age\", \"bp\", \"sg\", \"al\", \"su\", \"rbc\", \"pc\", \"pcc\", \"ba\", \"bgr\", \"bu\", \"sc\", \"sod\", \"pot\", \"hemo\", \"pcv\", \"wc\", \"rc\", \"htn\", \"dm\", \"cad\", \"appet\", \"pe\",\"ane\"], \"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":540,"wires":[["a7b62330.28821"]]},{"id":"a7b62330.28821","type":"http request","z":"db058076.b286f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/edbbea80-18a5-4744-b57a-093b83e66d4f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":889.5000076293945,"y":395.9999990463257,"wires":[["c18fc48a.47b548"]]},{"id":"f97cac1a.b8f7a","type":"ui_form","z":"db058076.b286f","name":"","label":"","group":"336b7fc4.6b6e6","order":1,"width":0,"height":0,"options":[{"label":"ID","value":"id","type":"number","required":false,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"bp","type":"number","required":true,"rows":null},{"label":"Specific Gravity","value":"sg","type":"number","required":true,"rows":null},{"label":"AL","value":"al","type":"number","required":true,"rows":null},{"label":"SU","value":"su","type":"number","required":true,"rows":null},{"label":"RED BLOOD CELL","value":"rbc","type":"text","required":true,"rows":null},{"label":"PC","value":"pc","type":"text","required":true,"rows":null},{"label":"PCC","value":"pcc","type":"text","required":true,"rows":null},{"label":"BARIUM","value":"ba","type":"text","required":true,"rows":null},{"label":"BGR","value":"bgr","type":"number","required":true,"rows":null},{"label":"BU","value":"bu","type":"number","required":true,"rows":null},{"label":"SC","value":"sc","type":"number","required":true,"rows":null},{"label":"SOD","value":"sod","type":"number","required":true,"rows":null},{"label":"POT","value":"pot","type":"number","required":true,"rows":null},{"label":"HEMO","value":"hemo","type":"number","required":true,"rows":null},{"label":"PCV","value":"pcv","type":"number","required":true,"rows":null},{"label":"WC","value":"wc","type":"number","required":true,"rows":null},{"label":"RC","value":"rc","type":"number","required":true,"rows":null},{"label":"HTN","value":"htn","type":"text","required":true,"rows":null},{"label":"DM","value":"dm","type":"text","required":true,"rows":null},{"label":"CAD","value":"cad","type":"text","required":true,"rows":null},{"label":"APPET","value":"appet","type":"text","required":true,"rows":null},{"label":"PE","value":"pe","type":"text","required":true,"rows":null},{"label":"ANE","value":"ane","type":"text","required":true,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":560,"wires":[["aef45df4.26d51"]]},{"id":"7df78846.fc58c8","type":"ui_text","z":"db058076.b286f","group":"336b7fc4.6b6e6","order":2,"width":0,"height":0,"name":"","label":"Classification","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":500,"wires":[]},{"id":"c18fc48a.47b548","type":"function","z":"db058076.b286f","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":749.6000366210938,"y":291.60000133514404,"wires":[["7df78846.fc58c8","63cde82b.16bff8"]]},{"id":"336b7fc4.6b6e6","type":"ui_group","z":"","name":"Default","tab":"6475ed18.d25734","order":1,"disp":true,"width":"6","collapse":false},{"id":"6475ed18.d25734","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]